@import "../../../styles/global.scss";

#bg {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.actEnTitle {
    color: #fff;
    margin-right: 20px;
}

.actChTitle {
    color: #fff;
    margin-right: 20px;
}

.titleGroup {
    padding: 50px 150px 50px;
}
.card_bg {
    @include card_background;
    background-color: #00000060;
}

.emf {
    @include eastern_mistery_force;

}
.slider {
    padding-left: 150px;
    padding-right: 150px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 700px;
    width: 100%;
    border-radius: 1.5rem;
}

.mySwiper {
    box-sizing: border-box;
    padding: 10px 0;
    object-fit: cover;
}
.mySwiper .swiper-slide {
    width: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
}
////////////////////活動內容收縮設定
/// 
.actContentCotainer {
    
    .actGroup {
        padding-left: 150px;
        padding-right: 150px;
        
        .actToggle {
            color: #fff;
            padding: 30px 50px;
            // margin-top: 50px;
            border-radius: 1.5rem;
            background-image: linear-gradient(
                rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.33)
            );
            // position: absolute;
            cursor: pointer;
            width: 100%;
        }
        .actC{
            margin-bottom: 20px;
        }
        .actDetail {
            color: #fff;
            padding: 0 30px;
            backdrop-filter: blur(20px);
            margin-top: 20px;
            border-radius: 1.5rem;
            background-image: linear-gradient(
                rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.33)
            );
            // border-radius: 1.5rem;
            height: 0;
            overflow: hidden;
            // position: absolute;
            // position: relative;
            .textspace {
                padding: 30px;
            }
        }
    }
}