.title_color {
    color: rgba(98, 26, 16, 1);
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 0px;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
}

.btn_font_color {
    color: var(--secondary_color);
}

.j_container {
    width: 90%;
    margin: auto;
}

.hot {
    background-color: var(--error_color);
}

.range_slider {
    /* width: 150px; */
    height: 5px;
    background-color: rgb(225, 213, 195);
}

.rs_button {
    width: 15px;
    height: 15px;
}

.glass {
    width: 100%;
    border-radius: 26px;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    box-shadow: 0px 4px 10px #000;
    /* margin: auto; */
}

.carousel_h {
    height: 300px;
}
.j_container{
    input {
        width: calc(var(--h4_text) * 10);
        height: var(--h5_text);
    }
}


.flexing_card {
    /* width: 100px; */
    height: 300px;
    /* background-color: rgb(228, 108, 108); */
}

.menu_button {
    height: 6vh;
    /* border: 1px solid black; */
    background-color: rgba(255, 246, 231, 1);   
    box-shadow: 0px 7px 0px rgba(235, 94, 49, 1); 
}

.next_button {
    height: 4vh;
}

.btn_bgc_color {
    background-color: var(--secondary_color);
}

.menu_content {
    font-size: 16px;
}

 /* recipesPage2 */

.recipe_picture {
    height: 80vw;
    object-fit: cover;
}

.recipe_title {
    font-size: 24px;
    color: white;
    font-weight: 700;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.recipe_material {
    color: white;
}

.recipe_glass {
    width: 100%;
    border-radius: 26px;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    box-shadow: 0px 4px 10px #000;
}

/* photoWall */

.photowall {
    height: 50vw;
}

@media screen and (min-width:800px) {

    .carousel_size {
        height: 38vw;
    }

    .flexing_card {
        /* width: 100px; */
        height: 32vw;
        /* background-color: rgb(228, 108, 108); */
    }

    .j_container{
        .menu {
            height: 30vw;
            /* text-align: center; */
        }
    }

    .menu_button {
        font-size: 24px;   
        box-shadow: 0px 10px 0px rgba(235, 94, 49, 1);
    }

    

    .menu_content {
        font-size: 32px;
    }
    .menu_content a {
        text-decoration: none;
        color: #fff;
    }

    .next_button {
        font-size: 20px;
    }

    /* recipesPage2 */

    .step {
        height: 43vw;
    }

    .recipe_picture {
        height: 60vw;
        // width: 20vw;
        bottom: 50%;
        right: 5%;
    }

    .recipe_title {
        font-size: 40px;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 2px;
    }
    
    .recipe_material {
        height: 6vw;
    }

    .recipe_line {
        border-right: 1px solid white;
    }

    .step_button {
        box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.75);
    }

    /* photoWall */
}