html {
    body {
        .member-center {
            .member-container {
                .member-flex-box {
                    height: 960px;
                    @media screen and (max-width: 768px) {
                        height: auto;
                    }
                    .member-body {
                        // width: 80%;
                        // max-height: 960px;
                        // padding: 6%;
                        // overflow: auto;
                        .keep-title {
                            font-size: var(--subtitle_text);
                            padding: 0 0 30px 0;
                        }
                        .checkbox {
                            position: relative;
                            background-image: linear-gradient(
                                var(--cardBackground)
                            );
                            padding: 15px;
                            display: flex;
                            align-items: center;
                            border-radius: 1.5rem;
                            justify-content: center;

                            label {
                                position: initial;
                                color: var(--textColor);
                                pointer-events: initial;
                                filter: drop-shadow(
                                    3px 4px 8px var(--themeColor)
                                );
                                padding: 0 20px;
                                font-size: var(--button_text);

                                input {
                                    display: none;

                                    &:checked + span {
                                        background: var(--primary_color);
                                        color: #fff;
                                        transition: all 0.3s ease;
                                    }
                                    &:not(:checked) + span {
                                        transition: all 0.5s ease;
                                    }
                                }
                                .button {
                                    display: inline-block;

                                    background: var(--input_color);
                                    color: #333;
                                    cursor: pointer;
                                }
                                .round {
                                    border-radius: 1.5rem;
                                    padding: 5px 25px;
                                }
                            }
                        }
                        .order-list-container {
                            // position: relative;
                            color: var(--textColor);
                            text-shadow: 1px 1px 5px var(--transparent);
                            filter: drop-shadow(1px 1px 5px var(--transparent));

                            .order-list {
                                padding: 0 50px;
                                background-image: linear-gradient(
                                    var(--cardBackground)
                                );
                                margin-top: 20px;
                                border-radius: 1.5rem;
                                height: 0;
                                overflow: hidden;
                                // position: absolute;

                                // position: relative;
                                display: flex;
                                align-items: center;
                                button {
                                    position: absolute;
                                    right: 0;
                                }
                                .left {
                                    flex: 0 0 30%;
                                    display: flex;
                                    flex-direction: column;
                                    text-align: left;
                                    margin-right: 30px;
                                    div {
                                        padding: 10px 0;
                                        letter-spacing: 2px;
                                    }
                                    img {
                                        width: 180px;
                                        height: 180px;
                                        object-fit: cover;
                                    }
                                }
                                .right {
                                    flex: 1 0 66%;
                                    padding: 20px 0;
                                    .right-top {
                                        display: flex;
                                        flex-wrap: wrap;
                                        width: 100%;
                                        text-align: center;
                                        font-size: var(--subtitle_text);
                                        padding-bottom: 20px;
                                        border-bottom: 1px solid
                                            var(--textColor2);
                                        span {
                                            font-size: var(--h5_text);
                                            font-weight: bold;
                                            padding: 5px;
                                        }
                                        & > div {
                                            flex: 1 0 30%;
                                        }
                                        &:nth-child(1) {
                                            text-align: left;
                                        }
                                        .wrap {
                                            display: flex;
                                            flex-wrap: wrap;
                                        }
                                    }
                                    .right-bottom {
                                        padding-top: 20px;
                                        display: flex;
                                        flex-direction: column;
                                        .check {
                                            display: flex;
                                            padding: 10px 0;
                                            .fa-rectangle-list {
                                                margin-right: 10px;
                                            }
                                        }
                                        .night {
                                            display: flex;
                                            justify-content: space-between;
                                            padding: 10px 0;
                                        }
                                        .plus {
                                            display: flex;
                                            justify-content: space-between;
                                            padding: 10px 0;
                                        }
                                        .total-price {
                                            display: flex;

                                            padding: 10px 0;
                                            .btn {
                                                a {
                                                    text-decoration: none;
                                                    color: var(--textColor);
                                                    display: inline-block;
                                                    padding: 10px 25px;
                                                    background-color: var(
                                                        --primary_color_500
                                                    );
                                                    border-radius: 1.5rem;
                                                    margin-right: 10px;
                                                }
                                                &:hover a {
                                                    filter: brightness(110%);
                                                }
                                            }
                                            div:last-child {
                                                margin-left: auto;
                                                align-self: center;
                                                border-top: 1px solid
                                                    var(--textColor2);
                                                padding-top: 10px;
                                                font-size: var(--h5_text);
                                            }
                                        }
                                    }
                                }
                            }
                            .order-list-toggle {
                                padding: 20px;
                                margin-top: 50px;
                                background-image: linear-gradient(
                                    var(--cardBackground)
                                );
                                border-radius: 1.5rem;

                                display: flex;
                                align-items: center;

                                // position: absolute;
                                cursor: pointer;
                                width: 100%;
                                button {
                                    position: absolute;
                                    right: 0;
                                }
                                .img {
                                    img {
                                        width: 80px;
                                        height: 80px;
                                        box-shadow: 0 4px 9px
                                            rgba(0, 0, 0, 0.211);
                                    }
                                }
                                .text {
                                    padding: 0 50px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1318px) {
    html {
        body {
            .member-center {
                .order-list {
                    flex-wrap: wrap;
                    .left {
                        padding: 20px 0;
                        img {
                            width: 100px;
                            height: 100px;
                        }
                    }
                    .right-bottom {
                        .total-price {
                            font-size: var(--subtitle_text);
                            padding-bottom: 10px;
                            .btn {
                                a {
                                    font-size: var(--button_text);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
