html {
    body {
        .member-center {
            .member-container {
                // width: 80%;
                .member-flex-box {
                    .member-body {
                        // width: 80%;
                        // max-height: 960px;
                        // padding: 6%;
                        // overflow: auto;

                        .keep-title {
                            font-size: var(--subtitle_text);
                            padding: 0 0 30px 0;
                        }
                        .checkbox {
                            position: relative;
                            background-image: linear-gradient(
                                var(--cardBackground)
                            );
                            padding: 15px;
                            display: flex;
                            align-items: center;
                            border-radius: 1.5rem;
                            justify-content: center;
                            transition: all 0.5s ease;

                            @media screen and (max-widthl: 520px) {
                                flex-direction: column;
                                width: 60%;
                                margin: auto;
                            }

                            label {
                                position: initial;
                                color: var(--textColor);
                                pointer-events: initial;
                                filter: drop-shadow(
                                    3px 4px 8px var(--themeColor)
                                );
                                padding: 0 20px;
                                font-size: var(--button_text);

                                @media screen and (max-width: 520px) {
                                    margin: 5px 0;
                                }

                                input {
                                    display: none;
                                    &:checked + span {
                                        background: var(--primary_color);
                                        color: #fff;
                                        transition: all 0.5s ease;
                                    }
                                    &:not(:checked) + span {
                                        transition: all 0.5s ease;
                                    }
                                }
                                .button {
                                    display: inline-block;

                                    background: var(--input_color);
                                    color: #333;
                                    cursor: pointer;
                                }
                                .round {
                                    border-radius: 1.5rem;
                                    padding: 5px 25px;
                                }
                            }
                        }

                        .keep-card-container {
                            padding-top: 5%;
                            display: flex;
                            flex-wrap: wrap;
                            // padding-left: 6%;

                            justify-content: space-between;

                            @media screen and (max-width: 1606px) {
                                justify-content: space-evenly;
                            }

                            .keep-card {
                                margin: 3% 3%;
                                flex: 0 1 33.33%;
                                max-width: 250px;
                                min-width: 200px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                text-align: center;
                                border-radius: 1.5rem;
                                background-image: linear-gradient(
                                    var(--cardBackground)
                                );
                                box-shadow: 3px 4px 8px var(--themeColor);
                                color: var(--textColor);

                                @media screen and (max-width: 1209px) {
                                    flex: 0 1 40%;
                                    margin-top: 6%;
                                }

                                @media screen and (max-width: 863px) {
                                    margin-bottom: 6%;
                                    min-width: 180px;
                                }

                                @media screen and (max-width: 768px) {
                                    margin-bottom: 6%;
                                    min-width: 180px;
                                }

                                @media screen and (max-width: 520px) {
                                    flex: 0 1 60.33%;
                                }

                                @media screen and (max-width: 420px) {
                                    flex: 0 1 80%;
                                }

                                .keep-card-img {
                                    img {
                                        width: 150px;
                                        height: 150px;
                                        object-fit: cover;
                                        transform: translateY(-20px);
                                        box-shadow: 3px 4px 8px
                                            var(--themeColor);
                                        transition: all 0.2s linear;

                                        @media screen and (max-width: 1050px) {
                                            width: 120px;
                                            height: 120px;
                                        }
                                    }
                                }
                                .keep-card-title {
                                    padding: 0 20px 20px 20px;

                                    &::after {
                                        content: "";
                                        display: block;
                                        border: 0.5px solid
                                            rgba(255, 255, 255, 0.571);
                                        width: 90%;
                                        margin: auto;
                                        position: relative;
                                        bottom: -10px;
                                        filter: drop-shadow(
                                            1px 1px 3px var(--themeColor)
                                        );
                                    }
                                }
                                .keep-card-content {
                                    text-align: left;
                                    word-break: break-all;
                                    width: 100%;
                                    height: 90px;
                                    padding: 0 20px;
                                    font-size: var(--subtitle_text);
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 4;

                                    @media screen and (max-width: 768px) {
                                        height: 83px;
                                    }
                                }
                                .keep-card-button {
                                    padding: 20px;
                                    text-align: right;

                                    border-radius: 1.5rem;
                                    cursor: pointer;

                                    a {
                                        display: inline-block;
                                        box-shadow: 2px 2px 8px
                                            rgba(0, 0, 0, 0.303);
                                        padding: 5px 10px;
                                        background-color: var(
                                            --primary_color_500
                                        );
                                        font-size: var(--button_text);
                                        text-decoration: none;
                                        color: var(--textColor);
                                        border-radius: 1.5rem;
                                        transition: all 0.5s ease;
                                    }
                                    &:hover a {
                                        transform: translateX(5px);
                                    }
                                }
                                &:hover img {
                                    filter: brightness(60%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 420px) {
    html {
        body {
            .member-center {
                .member-container {
                    .member-flex-box {
                        .member-body {
                            .input_group {
                                flex-direction: column;
                                width: 50%;
                                margin: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}
