@import "../../../styles/global.scss";

.credit-card-container {
    color: var(--textColor);

    .card-btn {
        padding: 30px 0;

        button {
            border: none;
            @include p_button;
            box-shadow: 1px 1px 5px var(--transparent);
            &:active {
                background-color: var(--primary_color_500);
            }
        }
    }
}

body {
    .lightbox {
        // pointer-events: none;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100vw;
        // height: 100%;
        background-color: rgba(0, 0, 0, 0.687);
        // border-radius: 1.5rem;
        transition: display 0.5s ease;
        z-index: 3;
        form {
            display: none;
            letter-spacing: 3px;
            padding: 20px;
            width: 25vw;
            background-image: linear-gradient(
                rgba(255, 255, 255, 0.05),
                rgba(0, 0, 0, 0.33)
            );
            border-radius: 15px;
            text-shadow: 1px 1px 16px rgba(0, 0, 0, 0.351);
            // box-shadow: 1px 1px 6px var(--transparent);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: display 0.5s ease;
            color: #fff;

            @media screen and (max-width: 1246px) {
                width: 40vw;
            }

            @media screen and (max-width: 768px) {
                width: 60vw;
            }

            @media screen and (max-width: 576px) {
                width: 80vw;
            }

            legend {
                text-align: center;
            }

            fieldset {
                padding: 10px;
                width: 100%;
                border: none;
                label {
                    color: var(--textColor);
                    position: initial;
                    pointer-events: all;
                    left: initial;
                    top: initial;
                }
                input {
                    padding: initial;
                    width: 60px;
                    padding: 5px;
                    height: initial;
                    border-radius: 5px;
                }
            }
            fieldset.card-number {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                div {
                    display: flex;
                    gap: 1rem;
                    input {
                        width: 25%;
                    }
                }
            }
            fieldset.card-holder {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                input {
                    width: 100%;
                }
            }
            .fieldset-expiration {
                display: flex;
                gap: 1rem;
                div {
                    flex: 0 0 50%;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    input#card-ccv {
                        width: 95%;
                    }
                }
                .select {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;

                    select {
                        border: none;
                        width: 100%;
                        padding: 5px;
                        border-radius: 5px;
                        background-color: #fff6e7;
                    }
                }
            }

            .btn {
                padding: 20px;
                text-align: center;
                button {
                    border: none;
                    @include p_button;
                    &:active {
                        background-color: var(--primary_color_500);
                    }
                }
            }
        }
    }
}

.member-body {
    .title {
        // margin: 2rem 0;
        font-size: var(--subtitle_text);
    }

    .credit-card {
        display: flex;
        padding: 20px;
        border-radius: 15px;
        width: 50%;
        justify-content: space-between;
        align-items: center;
        background-image: linear-gradient(var(--cardBackground));

        @media screen and (max-width: 1200px) {
            width: 70%;
        }

        @media screen and (max-width: 976px) {
            width: 80%;
        }

        @media screen and (max-width: 576px) {
            width: 100%;
        }

        .info {
            display: flex;
            gap: 1rem;
            i {
                line-height: 1;
            }
        }
        .delete {
            button {
                border: none;
                background-color: transparent;
                color: var(--secondary_color);
            }
        }
    }
}
